@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-charcoal-950 text-white font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}
